@{
    ViewData["Title"] = "Amaçlar ve Hedefler";
}



<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>MAR-SEV’in Amacı ve Başlıca Hedefleri</h2>
                    <span>
                        <b>Vakfın amacı:</b><br><br> Birinci basamak sağlık hizmetleri konusunda projeler oluşturarak birinci basamak sağlık hizmetlerine ve eğitimine katkı sağlamak ve Türkiye’de yaşayan herkese eşit, dengeli ve mümkün olan en yüksek düzeyde koruyucu ve iyileştirici sağlık hizmetleri ile eğitim ve diğer sosyal hizmetleri etkin bir biçimde sunabilmek için mezuniyet öncesi, mezuniyet sonrası ve hizmet içi eğitim yapan her düzeyde eğitim kurumları açmak, işletmek, seminerler, kurslar düzenlemek.

                        <br>

                        <br>
                        <b>Vakfın başlıca hedefleri:</b><br><br>
                        • Vakfın birinci basamak sağlık hizmetlerini ve çalışanlarını destekleyecek çalışmalar yapmak
                        <br>   • Birinci basamak sağlık hizmetleri alanında çalışan ve eğitici niteliklerini geliştirmek isteyen hekim ve hemşirelere yönelik yüz yüze eğitim programları planla ve uygulamak
                        <br>   • Bilgisayar üzerinden eğitim / uzaktan eğitim becerilerini geliştirme odaklı eğitim geliştirmek ve bu eğitimleri ilgili kişilere tanıtmak
                        <br>   • Ulusal / uluslararası projeler geliştirerek birinci basamak sağlık hizmetlerini daha iyi bir noktaya getirecek çıktılar sağlamak
                        <br>   • Sağlık ile ilgili bilimsel toplantı ve oturumlar düzenlemek
                        <br>   • Öncelikle birinci basamak sağlık hizmetleri, aile hekimliği, toplum sağlığı ve sağlığın geliştirilmesi alanları olmak üzere sağlık ile ilişkili alanlarda araştırma projeleri yapmak, yapılan projeleri desteklemek.
                        <br>   • Birinci basamak sağlık hizmetleri, aile hekimliği, toplum sağlığı ve sağlığın geliştirilmesi alanlarında yazılan kitap ve benzeri eğitici belgelerin geliştirilmesi için katkı sağlamak
                        <br>   • Yukarıda sıralanan amaçlara yönelik ulusal ve uluslararası kamu ve kamu dışı kurumlar ile ortak projeler geliştirmek
                        <br>



                    </span>
                    <!--						<div class="blue-button">
                                                <a class="scrollTo" data-scrollTo="popular" href="#">Daha Fazlası</a>
                                            </div>  -->
                </div>

            </div>
        </div>
    </div>
</section>









