@{
    ViewData["Title"] = "Bağış";
}
<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>Bağış için:</h2>


                    <br>
                    <b>Vakfımızın banka hesabına bağışta bulunabilirsiniz.</b><br><br>
                    Hesap adı: Marmara Sağlık Eğitim ve Araştırma Vakfı (MAR-SEV)<br><br>
                    Banka ve Şube: VakıfBank Ümraniye Şubesi<br><br>
                    IBAN: TR 76 0001 5001 5800 7286 2542 60
                    <br>



                  
                   
                    <!--						<div class="blue-button">
                                                <a class="scrollTo" data-scrollTo="popular" href="#">Daha Fazlası</a>
                                            </div>  -->
                </div>

            </div>
        </div>
    </div>
</section>
