@model FormModel
<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <p>
                        Sayın @Model.isim  @Model.soyisim; <br />

                        Görüşleriniz iletilmiştir.
                    </p>
                    <p> Ana Sayfaya dönmek için 
                     <a asp-action="Index" asp-controller="Home">Tıklayınız</a>
                    </p>                
                    </div>

            </div>
        </div>
    </div>
</section>



