<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p></p>
        </div>
        <div class="col-sm-8 text-left">
            <p>Satın alma işlemini gerçekleştirmek için ödemeyi MAR-SEV İşletmesi hesabına havale/EFT ile gerçekleştirip aşağıdaki formu doldurmanız rica olunur. En kısa zamanda sizinle iletişime geçilecektir.</p>
            <p>
                <b>
                    Marmara sağlık eğitim ve araştırma vakfı işletmesi<br>
                    TR78 0001 5001 5800 7316 4737 98
                </b>
            </p>
            
           
            <form class="jotform-form" action="KitapSiparis" method="post" name="form_203522483606957" id="203522483606957" accept-charset="utf-8" autocomplete="on">
    
    <div role="main" class="form-all">
        <link type="text/css" rel="stylesheet" media="all" href="https://cdn.jotfor.ms/wizards/languageWizard/custom-dropdown/css/lang-dd.css?3.3.22387" />
        <div class="cont">
            <input type="text" id="input_language" name="input_language" style="display:none" />
            <div class="language-dd" id="langDd" style="display:none">
                <div class="dd-placeholder lang-emp">
                    Language
                </div>
                <ul class="lang-list dn" id="langList">
                    <li data-lang="tr" class="tr">
                        Türkçe
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript" src="https://cdn.jotfor.ms/js/formTranslation.v2.js?3.3.22387"></script>
        <ul class="form-section page-section">
            <li id="cid_40" class="form-input-wide" data-type="control_head">
                <div class="form-header-group  header-large">
                    <div class="header-text httal htvam">
                        <h1 id="header_40" class="form-header" data-component="header">
                            Kitap Talep Formu
                        </h1>
                        <div id="subHeader_40" class="form-subHeader">
                        </div>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_fullname" id="id_8">
                <label class="form-label form-label-top form-label-auto" id="label_8" for="first_8">

                    <span class="form-required">

                    </span>
                </label>
                <div id="cid_8" class="form-input-wide jf-required" data-layout="full">
                    <div data-wrapper-react="true">
                        <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                                        <label class="form-sub-label" for="first_8" id="sublabel_8_first" style="min-height:13px" aria-hidden="false"> Adı </label>

                                        <input type="text" id="first_8" name="isim" class="form-textbox validate[required]" size="10" value="" data-component="first" aria-labelledby="label_8 sublabel_8_first" required="" />
                            </span>
                        <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
                                        <label class="form-sub-label" for="last_8" id="sublabel_8_last" style="min-height:13px" aria-hidden="false"> Soyadı </label>

                                        <input type="text" id="last_8" name="soyisim" class="form-textbox validate[required]" size="15" value="" data-component="last" aria-labelledby="label_8 sublabel_8_last" required="" />
                           </span>
                    </div>
                </div>
            </li>
            <li class="form-line form-line-column form-col-1 jf-required" data-type="control_email" id="id_38">
                <label class="form-label form-label-top" id="label_38" for="input_38">
                    E-posta
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div id="cid_38" class="form-input-wide jf-required" data-layout="half">
                    <span class="form-sub-label-container" style="vertical-align:top">
                        <input type="email" id="input_38" name="email" class="form-textbox validate[required, Email]" style="width:310px" size="310" value="" placeholder="ex: myname@example.com" data-component="email" aria-labelledby="label_38 sublabel_input_38" required="" />
                        <label class="form-sub-label" for="input_38" id="sublabel_input_38" style="min-height:13px" aria-hidden="false"> example@example.com </label>
                    </span>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_phone" id="id_12">
                <label class="form-label form-label-top form-label-auto" id="label_12" for="input_12_full">
                    Telefon Numarası
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div id="cid_12" class="form-input-wide jf-required" data-layout="half">
                    <span class="form-sub-label-container" style="vertical-align:top">
                        <input type="tel" id="input_12_full" name="telefonno" data-type="mask-number" class="mask-phone-number form-textbox validate[required, Fill Mask]" style="width:310px" data-masked="true" value="" placeholder="(000) 0000000" data-component="phone" aria-labelledby="label_12 sublabel_12_masked" required="" />
                        <label class="form-sub-label" for="input_12_full" id="sublabel_12_masked" style="min-height:13px" aria-hidden="false"> (5**)****** </label>
                    </span>
                </div>
            </li>

            <li class="form-line jf-required" data-type="control_address" id="id_34">
                <label class="form-label form-label-top form-label-auto" id="label_34" for="input_34_addr_line1">
                    Adresiniz:
                    <span class="form-required">
                        *
                    </span>
                </label>
                <div id="cid_34" class="form-input-wide jf-required" data-layout="full">
                    <div summary="" class="form-address-table jsTest-addressField">
                        <div class="form-address-line-wrapper jsTest-address-line-wrapperField">
                            <span class="form-address-line form-address-street-line jsTest-address-lineField">
                                <span class="form-sub-label-container" style="vertical-align:top">
                                    <input type="text" id="input_34_addr_line1" name="adres" class="form-textbox validate[required] form-address-line" value="" data-component="address_line_1" aria-labelledby="label_34 sublabel_34_addr_line1" required="" />
                                    <label class="form-sub-label" for="input_34_addr_line1" id="sublabel_34_addr_line1" style="min-height:13px" aria-hidden="false"> Adres </label>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

            <li class="form-line" data-type="control_dropdown" id="id_41">
                <label class="form-label form-label-top form-label-auto" id="label_41" for="input_41"> Satın almak istediğiniz kitap: </label>
                <div id="cid_41" class="form-input-wide" data-layout="half">
                    <span class="form-sub-label-container" style="vertical-align:top">
                        <select class="form-dropdown" id="input_41" name="kitap" style="width:310px" data-component="dropdown" aria-labelledby="label_41 sublabel_input_41">
                            <option value=""> Lütfen Seçiniz </option>
                            <option value="Adolesan Sagligi"> Adölesan Sağlığı </option>
                            <option value="Yasli Sagligina Bütüncül Yaklasim"> Yaşlı Sağlığına Bütüncül Yaklaşım </option>
                            <option value="McWhinney Aile Hekimligi"> McWhinney Aile Hekimliği </option>

                        </select>
                        <label class="form-sub-label" for="input_41" id="sublabel_input_41" style="min-height:13px" aria-hidden="false"> Lütfen kitap seçiniz </label>
                    </span>
                </div>
            </li>



            <li class="form-line" data-type="control_button" id="id_36">
                <div id="cid_36" class="form-input-wide" data-layout="full">
                    <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                        <button id="input_36" type="submit" class="form-submit-button form-submit-button-simple_green_apple submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                            Talep Oluştur
                        </button>
                    </div>
                </div>
            </li>
            <li style="display:none">
                Should be Empty:
                <input type="text" name="website" value="" />
            </li>
        </ul>
    </div>
   

</form>

</div>
</div>
</div>

