<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Adölesan Sağlığı</div>
                <div class="panel-body"><img src="~/img/adolesan.jpg" class="img-responsive" style="width:100%" alt="Adölesan Sağlığı"></div>
                <div class="panel-footer"><center>150 TL</center></div>
                <div class="panel-footer">Satın alma talebi oluşturmak için <a asp-controller="KitapSiparis" asp-action="KitapSiparisi" asp-area="">tıklayınız.</a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Yaşlı Sağlığına Bütüncül Yaklaşım</div>
                <div class="panel-body"><img src="~/img/yasli.jpeg" class="img-responsive" style="width:100%" alt="Yaşlı Sağlığına Bütüncül Yaklaşım"></div>
                <div class="panel-footer"><center>150 TL</center></div>
                <div class="panel-footer">Satın alma talebi oluşturmak için  <a asp-controller="KitapSiparis" asp-action="KitapSiparisi" asp-area="">tıklayınız.</a></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">McWhinney Aile Hekimliği</div>
                <div class="panel-body"><img src="~/img/McWhinney.jpeg" class="img-responsive" style="width:100%" alt="Aile Hekimliği"></div>
                <div class="panel-footer"><center>300 TL</center></div>
                <div class="panel-footer">Satın alma talebi oluşturmak için  <a asp-controller="KitapSiparis" asp-action="KitapSiparisi" asp-area="">tıklayınız.</a></div>
            </div>
        </div>

    </div><br><br>



