@{
    ViewData["Title"] = "Yönetim Kurulu";
}
<section class="popular-places" id="popular">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">

                    <h2>Yönetim Kurulu</h2>
                </div>
            </div>
        </div>
        <div class="owl-carousel owl-theme">
            <div class="item popular-item">
                <div class="thumb">
                    <img src="~/img/cigdemap.png" alt="">
                    <div class="text-content">
                        <h4>Prof. Dr. Çiğdem Apaydın Kaya</h4>
                        <span>Dernek Başakanı</span>
                    </div>
                    <div class="plus-button">
                        <a href="serapc.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <!--        <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/ulkusur.png" alt="">
                            <div class="text-content">
                                <h4>Dr. Öğr. Gör. Ülkü Sur Ünal</h4>
                                <span>Başkan Yardımcısı</span>
                            </div>
                            <div class="plus-button">
                                <a href="ulkusur.html"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>

                    </div>
            -->
            <div class="item popular-item">
                <div class="thumb">
                    <img src="~/img/serapc.png" alt="">
                    <div class="text-content">
                        <h4>Prof. Dr. Saliha Serap Çifçili</h4>
                        <span>İkinci Başkan</span>
                    </div>
                    <div class="plus-button">
                        <a href="cigdemapaydin.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="item popular-item">
                <div class="thumb">
                    <img src="~/img/arzuuzuner2.png" alt="">
                    <div class="text-content">
                        <h4>Prof. Dr. Arzu Uzuner</h4>
                        <span>Yönetim Kurulu Üyesi</span>
                    </div>
                    <div class="plus-button">
                        <a href="arzuuzuner.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="item popular-item">
                <div class="thumb">
                    <img src="~/img/pemraunalan.jpg" alt="">
                    <div class="text-content">
                        <h4>Prof. Dr. Pemra Cöbek Ünalan </h4>
                        <span>Yönetim Kurulu Üyesi</span>
                    </div>
                    <div class="plus-button">
                        <a href="pemraunalan.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
         

            <div class="item popular-item">
                <div class="thumb">
                    <img src="~/img/hasibek.png" alt="">
                    <div class="text-content">
                        <h4>Prof. Dr. Hasibe Kadıoğlu</h4>
                        <span>Yönetim Kurulu Üyesi</span>
                    </div>
                    <div class="plus-button">
                        <a href="hasibek.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="item popular-item">
                <div class="thumb">
                    <img src="~/img/pintop.png" alt="">
                    <div class="text-content">
                        <h4>Prof. Dr. Pınar Topsever</h4>
                        <span>Yönetim Kurulu Üyesi</span>
                    </div>
                    <div class="plus-button">
                        <a href="pintop.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="item popular-item">
                <div class="thumb">
                    <img src="~/img/kamgur.png" alt="">
                    <div class="text-content">
                        <h4>Doç. Dr. Kamer Gür</h4>
                        <span>Yönetim Kurulu Üyesi</span>
                    </div>
                    <div class="plus-button">
                        <a href="kamgur.html"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>










        </div>
    </div>
</section>


