@{
    ViewData["Title"] = "Kayıt Onayı";
}
<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>Kurs kaydınız başarıyla oluşturulmuştur. İlginiz için teşekkür ederiz.</h2>
               @*     <p>
                        Başvurunuzun onaylanması için kayıt ücretini vakfımıza bağış olarak gerçekleştirmeniz gerekmektedir. Elde edilen gelir, depremzede öğrencilere burs sağlanmasında kullanılacaktır.
                    </p>
                    <h3>Kurs Ücretleri:</h3>
                   
                    <h4>Sağlık Profesyoneli Eğitimde Ölçme ve Değerlendirme Kursu:</h4>

                    <p>
                        Uzman ve akademisyenler için: 600 TL<br />
                        Uzmanlık ve yüksek lisans öğrencileri için: 300 TL<br />
                    </p>
                    <h3>Banka bilgileri:</h3>


                    <br>
                    <b>Vakfımızın banka hesabına açıklama kısmına "Bağış" yazarak yaptığınız bağış ödemesi dekontunu <a href="marsev@marsev.org"> marsev@marsev.org </a>adresine gönderdiğinizde kaydınız kesinleşecektir.</b><br><br>
                    Hesap adı: Marmara Sağlık Eğitim ve Araştırma Vakfı (MAR-SEV)<br><br>
                    Banka ve Şube: VakıfBank Ümraniye Şubesi<br><br>
                    IBAN: TR 76 0001 5001 5800 7286 2542 60
                    <br>


*@


                    <!--						<div class="blue-button">
                                                <a class="scrollTo" data-scrollTo="popular" href="#">Daha Fazlası</a>
                                            </div>  -->
                </div>

            </div>
        </div>
    </div>
</section>
