* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #ffffff;
    padding: 10px 10px;
}

.topnav {
    overflow: hidden;
}


.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b72424;
	font-family: "Tahoma";
}

.topnav li {
    float: left;
}

.topnav li a.leftMenu  {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.topnav li a.tooltip  {
    color: #000;
    padding: 5px 5px;
    text-decoration: none;
    display: inline-block;

}

.topnav li .dropbtn {

display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
background-color: #b72424;
}

.topnav li a:hover, .dropdown:hover .dropbtn {
    background-color: #6fc3bf;
    color:#ffffff;
}

.topnav li.dropdown {
    display: inline-block;
   text-align:right;
   float:right;
}

.dropdown-content {
    right:0;
    left:auto;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 40%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 10px;
    text-align: left;
    color: #000;
}

.dropdown-content a {
    color: #000;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a.list-content:hover {text-decoration:underline;}

.dropdown:hover .dropdown-content {
    display: block;
}

.topnav li .dropbtn-2 {

display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li .dropdown-2:hover .dropbtn-2 {
    background-color: #e5da90;
    color:#000;
}

.topnav li.dropdown-2 {
    display: inline-block;
}

.dropdown-content-2 {
    
    
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 10px;
    text-align: left;
    color: #000;
}

.dropdown-content-2 a {
    color: #000;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    cursor:pointer;
    
}

.dropdown-content-2 a.list-content:hover {text-decoration:underline; }

.dropdown-2:hover .dropdown-content-2 {
    display: block;
}






/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    padding: 15px;
    font-size:110%;
    line-height:160%
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:600px) {
    .column {
        width: 100%;
    }
}

.footer {
    background-color: #6fc3bf;
    text-align: left;
    padding: 10px;
	color:#ffffff;
}

 img {
    max-width: 100%;
}
.thumb {
 height: 100px;
}

input[type=text] {
  
    width: 80%;
   
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    padding: 12px 20px 12px 40px;

}

a {
 text-decoration:none;
 color: #000;
}

a:hover {
  color: #b72424;
}


input[type=text]:focus {
    border: 3px solid #646f77;
}

select {
    width: 25%;
    padding: 10px 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
margin: 10px 10px 10px 10px;
}

 .more {

    background-color:  #b72424; 
    border: 2px solid #fff;
    border-radius: 5px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    width:auto;
    display: inline-block;
    font-size: 14px;
margin: 10px 10px 10px 10px;
    cursor:pointer;
}

 .more:hover {
background-color: #ff0000; 
}



.suggestions {
 margin-left:10%;
 text-align:left;
  border-radius:5px;
 border: 1px solid #ccc;
 padding:10px 10px;
 z-index:1;
 width:75%;
 position:absolute;
 background: #fff;
 display: none;
 line-height: 140%;
}

.suggestions a{

 text-decoration:none;
 color: #000;
 
}

.suggestions a:hover{

 color: #b72424;
}

.tooltip
{
  text-decoration:none;
  position:relative;
  width: auto;


}
 
 
.tooltip span
{
  display:none;
  min-width:100px;
  border-radius:6px;
  color:black;
  background:white;
  text-align: center;

}
 
 
.tooltip:hover span
{
  top: -5px;
   left: 105%; 
  display:block;
  position:absolute;
  z-index:1000;
  width:auto;
  border:1px solid black; 
  overflow:hidden;
  padding:8px;
}

