{% extends "layout.html" %}
{% load static %}
{% block body %}
<section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
            
                
                    <div class="line-dec"></div>
                    <h2><center>MARMARA SAĞLIK EĞİTİM VE ARAŞTIRMA VAKFI (MAR-SEV)</center></h2>
                    <span>Marmara Sağlık Eğitim ve Araştırma Vakfı, birinci basamak sağlık hizmetleri konusunda projeler oluşturarak birinci basamak sağlık hizmetlerine ve eğitimine katkı sağlamak ve Türkiye’de yaşayan herkese eşit, dengeli ve mümkün olan en yüksek düzeyde koruyucu ve iyileştirici sağlık hizmetleri ile eğitim ve diğer sosyal hizmetleri etkin bir biçimde sunabilmek için mezuniyet öncesi, mezuniyet sonrası ve hizmet içi eğitim yapan her düzeyde eğitim kurumları açmak, işletmek, seminerler, kurslar düzenlemek amacıyla hizmet veren bir vakıf kuruluşudur.
                    </span>
                    <br><br>
                    <img src="{%static 'img/marsev-zoom.png'%}"></img><br>
                    <div class="blue-button">
                        <a href="amac.html">Daha Fazlası</a>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>





<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Duyurular</span>
                    <h2>Geçmiş Etkinlikler</h2>
                </div>
            </div> 
        </div> 
        <div class="row">
        
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="{%static 'img/medical-education.jpg'%}" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="date-content">
                            <h6>01-03</h6>
                            <span>Ekim 2020</span>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Eğitici Eğitimi Kursu</h4>
                        <span>Eğitimler</span>
                        <p>Bu kursun amacı, katılımcılara bir eğitimi planlama, uygulama ve değerlendirme ile ilgili gerekli bilgi ve becerileri sağlamaktır.</p>
                        <div class="row">
                                                    <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="kayit.html">Kayıt Ol</a>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="kurs.html">Daha Fazlası</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">	
                <div class="featured-item">
                    <div class="thumb">
                        <img src="{%static 'img/medical-education.jpg'%}" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="date-content">
                            <h6>16-17</h6>
                            <span>Ocak 2021</span>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Sağlık Profesyoneli Eğitiminde Ölçme ve Değerlendirme Kursu</h4>
                        <span>Eğitimler</span>
                        <p>
                    Bu kursun amacı, sağlık profesyonellerinin mezuniyet öncesi ve sonrası eğitiminde kullanılabilecek başlıca ölçme ve değerlendirme yöntemlerinin tanıtılması ve bu yöntemlere yönelik bilgi ve becerinin geliştirilmesidir.
</p><p>
Kurs, mezuniyet öncesi simülasyon ortamları ve mezuniyet önce ve sonrası klinik alanlarda kullanılabilecek ölçme değerlendirme yöntemlerini kapsamaktadır. Kursun hedef kitlesi bu bağlamda bilgi ve becerisini geliştirmek isteyen akademisyenler, uzmanlar, doktora/uzmanlık öğrencileri, klinik eğiticilerdir.
</p>	
                        
                        <div class="row">
                                              
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="kurs2.html">Daha Fazlası</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
         
        </div>
        
        
    
        </div>
    
    
    
    
</section>



{% endblock%}